name: 'tag'
on:
  push:
    branches:
      - master
jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions-ecosystem/action-regex-match@v2
      id: regex-match
      with:
        text: ${{ github.event.head_commit.message }}
        regex: '^Release ([0-9]+\.[0-9]+\.[0-9]+)'
    - uses: actions-ecosystem/action-push-tag@v1
      if: ${{ steps.regex-match.outputs.match != '' }}
      with:
        tag: ${{ steps.regex-match.outputs.group1 }}
    - name: Repository Dispatch
      uses: peter-evans/repository-dispatch@v1
      with:
        token: ${{ secrets.PAT_PASSWORD }}
        event-type: mcData-release
